<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="orangehrm">

	<listeners>
		<listener class-name="com.orangehrm.utilities.Reporting" />
	</listeners>


	<test name="Orange HRM">
		<parameter name="browser" value="chrome" />
		<classes>
		<!-- 	<class name="com.orangehrm.testCases.TC_LoginTest_001" />
			 <class name="com.orangehrm.testCases.TC_LoginDDT_002" /> -->
			 <class name="com.orangehrm.admintab.testCases.TC_AddnewJobTitles" />	
			 <class name="com.orangehrm.admintab.testCases.TC_EditJobTitles" /> 
			  <class name="com.orangehrm.admintab.testCases.TC_DeleteJobTitles" />
			 
			 
			

		</classes>

	</test>

</suite>